@font-face {
	font-family: 'platbr';
	src:url('fonts/platbr.eot?-mqe7bn');
	src:url('fonts/platbr.eot?#iefix-mqe7bn') format('embedded-opentype'),
		url('fonts/platbr.ttf?-mqe7bn') format('truetype'),
		url('fonts/platbr.woff?-mqe7bn') format('woff'),
		url('fonts/platbr.svg?-mqe7bn#platbr') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'platbr';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-estatisticas:before {
	content: "\62";
}
.icon-vitorias:before {
	content: "\66";
}
.icon-data-insercao:before {
	content: "\67";
}
.icon-pontos-2:before {
	content: "\68";
}
.icon-relatorios-2:before {
	content: "\6a";
}
.icon-pontos:before {
	content: "\6c";
}
.icon-estatisticas2:before {
	content: "\6d";
}
.icon-coracao:before {
	content: "\41";
}
.icon-casa:before {
	content: "\42";
}
.icon-filtro:before {
	content: "\43";
}
.icon-lixeira:before {
	content: "\44";
}
.icon-para-baixo:before {
	content: "\49";
}
.icon-seta-para-baixo:before {
	content: "\4a";
}
.icon-privacidade:before {
	content: "\4d";
}
.icon-quente:before {
	content: "\4e";
}
.icon-ajuda:before {
	content: "\6f";
}
.icon-busca:before {
	content: "\65";
}
.icon-alterar-privacidade:before {
	content: "\6b";
}
.icon-alterar-senha:before {
	content: "\74";
}
.icon-x-fechar:before {
	content: "\77";
}
.icon-menos:before {
	content: "\79";
}
.icon-mais:before {
	content: "\45";
}
.icon-neutro:before {
	content: "\46";
}
.icon-edicoes-texto:before {
	content: "\51";
}
.icon-relatorios:before {
	content: "\61";
}
.icon-traco-lapis:before {
	content: "\e785";
}
.icon-biblioteca:before {
	content: "\e787";
}
.icon-cadeado-fechado:before {
	content: "\e788";
}
.icon-comentar-discussao:before {
	content: "\e789";
}
.icon-configuracoes:before {
	content: "\e78a";
}
.icon-denuncie:before {
	content: "\e78b";
}
.icon-discussao:before {
	content: "\e78c";
}
.icon-fechar:before {
	content: "\e78d";
}
.icon-filtrar:before {
	content: "\e78e";
}
.icon-gostei:before {
	content: "\e78f";
}
.icon-nao-gostei:before {
	content: "\e790";
}
.icon-notificacao-gostei:before {
	content: "\e791";
}
.icon-notificacao-nao-gostei:before {
	content: "\e792";
}
.icon-notificacao:before {
	content: "\e793";
}
.icon-relatoria:before {
	content: "\e795";
}
.icon-relogio:before {
	content: "\e796";
}
.icon-cadastrar-email:before {
	content: "\e600";
}
.icon-priorizar:before {
	content: "\e602";
}
.icon-resultados:before {
	content: "\e603";
}
.icon-add-to-list:before {
	content: "\e604";
}
.icon-classic-computer:before {
	content: "\e605";
}
.icon-controller-fast-backward:before {
	content: "\e606";
}
.icon-creative-commons-attribution:before {
	content: "\e607";
}
.icon-creative-commons-noderivs:before {
	content: "\e608";
}
.icon-creative-commons-noncommercial-eu:before {
	content: "\e609";
}
.icon-creative-commons-noncommercial-us:before {
	content: "\e60a";
}
.icon-creative-commons-public-domain:before {
	content: "\e60b";
}
.icon-creative-commons-remix:before {
	content: "\e60c";
}
.icon-creative-commons-share:before {
	content: "\e60d";
}
.icon-creative-commons-sharealike:before {
	content: "\e60e";
}
.icon-creative-commons:before {
	content: "\e60f";
}
.icon-document-landscape:before {
	content: "\e610";
}
.icon-remove-user:before {
	content: "\e611";
}
.icon-warning:before {
	content: "\e612";
}
.icon-arrow-bold-down:before {
	content: "\e613";
}
.icon-arrow-bold-left:before {
	content: "\e614";
}
.icon-arrow-bold-right:before {
	content: "\e615";
}
.icon-arrow-bold-up:before {
	content: "\e616";
}
.icon-arrow-down:before {
	content: "\e617";
}
.icon-arrow-left:before {
	content: "\e618";
}
.icon-arrow-long-down:before {
	content: "\e619";
}
.icon-arrow-long-left:before {
	content: "\e61a";
}
.icon-arrow-long-right:before {
	content: "\e61b";
}
.icon-arrow-long-up:before {
	content: "\e61c";
}
.icon-arrow-right:before {
	content: "\e61d";
}
.icon-arrow-up:before {
	content: "\e61e";
}
.icon-arrow-with-circle-down:before {
	content: "\e61f";
}
.icon-arrow-with-circle-left:before {
	content: "\e620";
}
.icon-arrow-with-circle-right:before {
	content: "\e621";
}
.icon-arrow-with-circle-up:before {
	content: "\e622";
}
.icon-bookmark:before {
	content: "\e623";
}
.icon-bookmarks:before {
	content: "\e624";
}
.icon-chevron-down:before {
	content: "\e625";
}
.icon-chevron-left:before {
	content: "\e626";
}
.icon-chevron-right:before {
	content: "\e627";
}
.icon-chevron-small-down:before {
	content: "\e628";
}
.icon-chevron-small-left:before {
	content: "\e629";
}
.icon-chevron-small-right:before {
	content: "\e62a";
}
.icon-chevron-small-up:before {
	content: "\e62b";
}
.icon-chevron-thin-down:before {
	content: "\e62c";
}
.icon-chevron-thin-left:before {
	content: "\e62d";
}
.icon-chevron-thin-right:before {
	content: "\e62e";
}
.icon-chevron-thin-up:before {
	content: "\e62f";
}
.icon-chevron-up:before {
	content: "\e630";
}
.icon-chevron-with-circle-down:before {
	content: "\e631";
}
.icon-chevron-with-circle-left:before {
	content: "\e632";
}
.icon-chevron-with-circle-right:before {
	content: "\e633";
}
.icon-chevron-with-circle-up:before {
	content: "\e634";
}
.icon-cloud:before {
	content: "\e635";
}
.icon-controller-fast-forward:before {
	content: "\e636";
}
.icon-controller-jump-to-start:before {
	content: "\e637";
}
.icon-controller-next:before {
	content: "\e638";
}
.icon-controller-paus:before {
	content: "\e639";
}
.icon-controller-play:before {
	content: "\e63a";
}
.icon-controller-record:before {
	content: "\e63b";
}
.icon-controller-stop:before {
	content: "\e63c";
}
.icon-controller-volume:before {
	content: "\e63d";
}
.icon-dot-single:before {
	content: "\e63e";
}
.icon-dots-three-horizontal:before {
	content: "\e63f";
}
.icon-dots-three-vertical:before {
	content: "\e640";
}
.icon-dots-two-horizontal:before {
	content: "\e641";
}
.icon-dots-two-vertical:before {
	content: "\e642";
}
.icon-download:before {
	content: "\e643";
}
.icon-emoji-flirt:before {
	content: "\e644";
}
.icon-flow-branch:before {
	content: "\e645";
}
.icon-flow-cascade:before {
	content: "\e646";
}
.icon-flow-line:before {
	content: "\e647";
}
.icon-flow-parallel:before {
	content: "\e648";
}
.icon-flow-tree:before {
	content: "\e649";
}
.icon-install:before {
	content: "\e64a";
}
.icon-layers:before {
	content: "\e64b";
}
.icon-open-book:before {
	content: "\e64c";
}
.icon-resize-100:before {
	content: "\e64d";
}
.icon-resize-full-screen:before {
	content: "\e64e";
}
.icon-save:before {
	content: "\e64f";
}
.icon-select-arrows:before {
	content: "\e650";
}
.icon-sound-mute:before {
	content: "\e651";
}
.icon-sound:before {
	content: "\e652";
}
.icon-trash:before {
	content: "\e653";
}
.icon-triangle-down:before {
	content: "\e654";
}
.icon-triangle-left:before {
	content: "\e655";
}
.icon-triangle-right:before {
	content: "\e656";
}
.icon-triangle-up:before {
	content: "\e657";
}
.icon-uninstall:before {
	content: "\e658";
}
.icon-upload-to-cloud:before {
	content: "\e659";
}
.icon-upload:before {
	content: "\e65a";
}
.icon-add-user:before {
	content: "\e65b";
}
.icon-address:before {
	content: "\e65c";
}
.icon-adjust:before {
	content: "\e65d";
}
.icon-air:before {
	content: "\e65e";
}
.icon-aircraft-landing:before {
	content: "\e65f";
}
.icon-aircraft-take-off:before {
	content: "\e660";
}
.icon-aircraft:before {
	content: "\e661";
}
.icon-align-bottom:before {
	content: "\e662";
}
.icon-align-horizontal-middle:before {
	content: "\e663";
}
.icon-align-left:before {
	content: "\e664";
}
.icon-align-right:before {
	content: "\e665";
}
.icon-align-top:before {
	content: "\e666";
}
.icon-align-vertical-middle:before {
	content: "\e667";
}
.icon-archive:before {
	content: "\e668";
}
.icon-area-graph:before {
	content: "\e669";
}
.icon-attachment:before {
	content: "\e66a";
}
.icon-awareness-ribbon:before {
	content: "\e66b";
}
.icon-back-in-time:before {
	content: "\e66c";
}
.icon-back:before {
	content: "\e66d";
}
.icon-bar-graph:before {
	content: "\e66e";
}
.icon-battery:before {
	content: "\e66f";
}
.icon-beamed-note:before {
	content: "\e670";
}
.icon-bell:before {
	content: "\e671";
}
.icon-blackboard:before {
	content: "\e672";
}
.icon-block:before {
	content: "\e673";
}
.icon-book:before {
	content: "\e674";
}
.icon-bowl:before {
	content: "\e675";
}
.icon-box:before {
	content: "\e676";
}
.icon-briefcase:before {
	content: "\e677";
}
.icon-browser:before {
	content: "\e678";
}
.icon-brush:before {
	content: "\e679";
}
.icon-bucket:before {
	content: "\e67a";
}
.icon-cake:before {
	content: "\e67b";
}
.icon-calculator:before {
	content: "\e67c";
}
.icon-calendar:before {
	content: "\e67d";
}
.icon-camera:before {
	content: "\e67e";
}
.icon-ccw:before {
	content: "\e67f";
}
.icon-chat:before {
	content: "\e680";
}
.icon-check:before {
	content: "\e681";
}
.icon-circle-with-cross:before {
	content: "\e682";
}
.icon-circle-with-minus:before {
	content: "\e683";
}
.icon-circle-with-plus:before {
	content: "\e684";
}
.icon-circle:before {
	content: "\e685";
}
.icon-circular-graph:before {
	content: "\e686";
}
.icon-clapperboard:before {
	content: "\e687";
}
.icon-clipboard:before {
	content: "\e688";
}
.icon-clock:before {
	content: "\e689";
}
.icon-code:before {
	content: "\e68a";
}
.icon-cog:before {
	content: "\e68b";
}
.icon-colours:before {
	content: "\e68c";
}
.icon-compass:before {
	content: "\e68d";
}
.icon-copy:before {
	content: "\e68e";
}
.icon-credit-card:before {
	content: "\e68f";
}
.icon-credit:before {
	content: "\e690";
}
.icon-cross:before {
	content: "\e691";
}
.icon-cup:before {
	content: "\e692";
}
.icon-cw:before {
	content: "\e693";
}
.icon-cycle:before {
	content: "\e694";
}
.icon-database:before {
	content: "\e695";
}
.icon-dial-pad:before {
	content: "\e696";
}
.icon-direction:before {
	content: "\e697";
}
.icon-document:before {
	content: "\e698";
}
.icon-documents:before {
	content: "\e699";
}
.icon-drink:before {
	content: "\e69a";
}
.icon-drive:before {
	content: "\e69b";
}
.icon-drop:before {
	content: "\e69c";
}
.icon-edit:before {
	content: "\e69d";
}
.icon-email:before {
	content: "\e69e";
}
.icon-emoji-happy:before {
	content: "\e69f";
}
.icon-emoji-neutral:before {
	content: "\e6a0";
}
.icon-emoji-sad:before {
	content: "\e6a1";
}
.icon-erase:before {
	content: "\e6a2";
}
.icon-eraser:before {
	content: "\e6a3";
}
.icon-export:before {
	content: "\e6a4";
}
.icon-eye:before {
	content: "\e6a5";
}
.icon-feather:before {
	content: "\e6a6";
}
.icon-flag:before {
	content: "\e6a7";
}
.icon-flash:before {
	content: "\e6a8";
}
.icon-flashlight:before {
	content: "\e6a9";
}
.icon-flat-brush:before {
	content: "\e6aa";
}
.icon-folder-images:before {
	content: "\e6ab";
}
.icon-folder-music:before {
	content: "\e6ac";
}
.icon-folder-video:before {
	content: "\e6ad";
}
.icon-folder:before {
	content: "\e6ae";
}
.icon-forward:before {
	content: "\e6af";
}
.icon-funnel:before {
	content: "\e6b0";
}
.icon-game-controller:before {
	content: "\e6b1";
}
.icon-gauge:before {
	content: "\e6b2";
}
.icon-globe:before {
	content: "\e6b3";
}
.icon-graduation-cap:before {
	content: "\e6b4";
}
.icon-grid:before {
	content: "\e6b5";
}
.icon-hair-cross:before {
	content: "\e6b6";
}
.icon-hand:before {
	content: "\e6b7";
}
.icon-heart-outlined:before {
	content: "\e6b8";
}
.icon-heart:before {
	content: "\e6b9";
}
.icon-help-with-circle:before {
	content: "\e6ba";
}
.icon-help:before {
	content: "\e6bb";
}
.icon-home:before {
	content: "\e6bc";
}
.icon-hour-glass:before {
	content: "\e6bd";
}
.icon-image-inverted:before {
	content: "\e6be";
}
.icon-image:before {
	content: "\e6bf";
}
.icon-images:before {
	content: "\e6c0";
}
.icon-inbox:before {
	content: "\e6c1";
}
.icon-infinity:before {
	content: "\e6c2";
}
.icon-info-with-circle:before {
	content: "\e6c3";
}
.icon-info:before {
	content: "\e6c4";
}
.icon-key:before {
	content: "\e6c5";
}
.icon-keyboard:before {
	content: "\e6c6";
}
.icon-lab-flask:before {
	content: "\e6c7";
}
.icon-landline:before {
	content: "\e6c8";
}
.icon-language:before {
	content: "\e6c9";
}
.icon-laptop:before {
	content: "\e6ca";
}
.icon-leaf:before {
	content: "\e6cb";
}
.icon-level-down:before {
	content: "\e6cc";
}
.icon-level-up:before {
	content: "\e6cd";
}
.icon-lifebuoy:before {
	content: "\e6ce";
}
.icon-light-bulb:before {
	content: "\e6cf";
}
.icon-light-down:before {
	content: "\e6d0";
}
.icon-light-up:before {
	content: "\e6d1";
}
.icon-line-graph:before {
	content: "\e6d2";
}
.icon-link:before {
	content: "\e6d3";
}
.icon-list:before {
	content: "\e6d4";
}
.icon-location-pin:before {
	content: "\e6d5";
}
.icon-location:before {
	content: "\e6d6";
}
.icon-lock-open:before {
	content: "\e6d7";
}
.icon-lock:before {
	content: "\e6d8";
}
.icon-log-out:before {
	content: "\e6d9";
}
.icon-login:before {
	content: "\e6da";
}
.icon-loop:before {
	content: "\e6db";
}
.icon-magnet:before {
	content: "\e6dc";
}
.icon-magnifying-glass:before {
	content: "\e6dd";
}
.icon-mail:before {
	content: "\e6de";
}
.icon-man:before {
	content: "\e6df";
}
.icon-map:before {
	content: "\e6e0";
}
.icon-mask:before {
	content: "\e6e1";
}
.icon-medal:before {
	content: "\e6e2";
}
.icon-megaphone:before {
	content: "\e6e3";
}
.icon-menu:before {
	content: "\e6e4";
}
.icon-message:before {
	content: "\e6e5";
}
.icon-mic:before {
	content: "\e6e6";
}
.icon-minus:before {
	content: "\e6e7";
}
.icon-mobile:before {
	content: "\e6e8";
}
.icon-modern-mic:before {
	content: "\e6e9";
}
.icon-moon:before {
	content: "\e6ea";
}
.icon-mouse:before {
	content: "\e6eb";
}
.icon-music:before {
	content: "\e6ec";
}
.icon-network:before {
	content: "\e6ed";
}
.icon-new-message:before {
	content: "\e6ee";
}
.icon-new:before {
	content: "\e6ef";
}
.icon-news:before {
	content: "\e6f0";
}
.icon-note:before {
	content: "\e6f1";
}
.icon-notification:before {
	content: "\e6f2";
}
.icon-old-mobile:before {
	content: "\e6f3";
}
.icon-old-phone:before {
	content: "\e6f4";
}
.icon-palette:before {
	content: "\e6f5";
}
.icon-paper-plane:before {
	content: "\e6f6";
}
.icon-pencil:before {
	content: "\e6f7";
}
.icon-phone:before {
	content: "\e6f8";
}
.icon-pie-chart:before {
	content: "\e6f9";
}
.icon-pin:before {
	content: "\e6fa";
}
.icon-plus:before {
	content: "\e6fb";
}
.icon-popup:before {
	content: "\e6fc";
}
.icon-power-plug:before {
	content: "\e6fd";
}
.icon-price-ribbon:before {
	content: "\e6fe";
}
.icon-price-tag:before {
	content: "\e6ff";
}
.icon-print:before {
	content: "\e700";
}
.icon-progress-empty:before {
	content: "\e701";
}
.icon-progress-full:before {
	content: "\e702";
}
.icon-progress-one:before {
	content: "\e703";
}
.icon-progress-two:before {
	content: "\e704";
}
.icon-publish:before {
	content: "\e705";
}
.icon-quote:before {
	content: "\e706";
}
.icon-radio:before {
	content: "\e707";
}
.icon-reply-all:before {
	content: "\e708";
}
.icon-reply:before {
	content: "\e709";
}
.icon-retweet:before {
	content: "\e70a";
}
.icon-rocket:before {
	content: "\e70b";
}
.icon-round-brush:before {
	content: "\e70c";
}
.icon-rss:before {
	content: "\e70d";
}
.icon-ruler:before {
	content: "\e70e";
}
.icon-scissors:before {
	content: "\e70f";
}
.icon-share-alternitive:before {
	content: "\e710";
}
.icon-share:before {
	content: "\e711";
}
.icon-shareable:before {
	content: "\e712";
}
.icon-shield:before {
	content: "\e713";
}
.icon-shop:before {
	content: "\e714";
}
.icon-shopping-bag:before {
	content: "\e715";
}
.icon-shopping-basket:before {
	content: "\e716";
}
.icon-shopping-cart:before {
	content: "\e717";
}
.icon-shuffle:before {
	content: "\e718";
}
.icon-signal:before {
	content: "\e719";
}
.icon-sound-mix:before {
	content: "\e71a";
}
.icon-sports-club:before {
	content: "\e71b";
}
.icon-spreadsheet:before {
	content: "\e71c";
}
.icon-squared-cross:before {
	content: "\e71d";
}
.icon-squared-minus:before {
	content: "\e71e";
}
.icon-squared-plus:before {
	content: "\e71f";
}
.icon-star-outlined:before {
	content: "\e720";
}
.icon-star:before {
	content: "\e721";
}
.icon-stopwatch:before {
	content: "\e722";
}
.icon-suitcase:before {
	content: "\e723";
}
.icon-swap:before {
	content: "\e724";
}
.icon-sweden:before {
	content: "\e725";
}
.icon-switch:before {
	content: "\e726";
}
.icon-tablet:before {
	content: "\e727";
}
.icon-tag:before {
	content: "\e728";
}
.icon-text-document-inverted:before {
	content: "\e729";
}
.icon-text-document:before {
	content: "\e72a";
}
.icon-text:before {
	content: "\e72b";
}
.icon-thermometer:before {
	content: "\e72c";
}
.icon-thumbs-down:before {
	content: "\e72d";
}
.icon-thumbs-up:before {
	content: "\e72e";
}
.icon-thunder-cloud:before {
	content: "\e72f";
}
.icon-ticket:before {
	content: "\e730";
}
.icon-time-slot:before {
	content: "\e731";
}
.icon-tools:before {
	content: "\e732";
}
.icon-traffic-cone:before {
	content: "\e733";
}
.icon-tree:before {
	content: "\e734";
}
.icon-trophy:before {
	content: "\e735";
}
.icon-tv:before {
	content: "\e736";
}
.icon-typing:before {
	content: "\e737";
}
.icon-unread:before {
	content: "\e738";
}
.icon-untag:before {
	content: "\e739";
}
.icon-user:before {
	content: "\e73a";
}
.icon-users:before {
	content: "\e73b";
}
.icon-v-card:before {
	content: "\e73c";
}
.icon-video:before {
	content: "\e73d";
}
.icon-vinyl:before {
	content: "\e73e";
}
.icon-voicemail:before {
	content: "\e73f";
}
.icon-wallet:before {
	content: "\e740";
}
.icon-water:before {
	content: "\e741";
}
.icon-500px-with-circle:before {
	content: "\e742";
}
.icon-500px:before {
	content: "\e743";
}
.icon-basecamp:before {
	content: "\e744";
}
.icon-behance:before {
	content: "\e745";
}
.icon-creative-cloud:before {
	content: "\e746";
}
.icon-dropbox:before {
	content: "\e747";
}
.icon-evernote:before {
	content: "\e748";
}
.icon-flattr:before {
	content: "\e749";
}
.icon-foursquare:before {
	content: "\e74a";
}
.icon-google-drive:before {
	content: "\e74b";
}
.icon-google-hangouts:before {
	content: "\e74c";
}
.icon-grooveshark:before {
	content: "\e74d";
}
.icon-icloud:before {
	content: "\e74e";
}
.icon-mixi:before {
	content: "\e74f";
}
.icon-onedrive:before {
	content: "\e750";
}
.icon-paypal:before {
	content: "\e751";
}
.icon-picasa:before {
	content: "\e752";
}
.icon-qq:before {
	content: "\e753";
}
.icon-rdio-with-circle:before {
	content: "\e754";
}
.icon-renren:before {
	content: "\e755";
}
.icon-scribd:before {
	content: "\e756";
}
.icon-sina-weibo:before {
	content: "\e757";
}
.icon-skype-with-circle:before {
	content: "\e758";
}
.icon-skype:before {
	content: "\e759";
}
.icon-slideshare:before {
	content: "\e75a";
}
.icon-smashing:before {
	content: "\e75b";
}
.icon-soundcloud:before {
	content: "\e75c";
}
.icon-spotify-with-circle:before {
	content: "\e75d";
}
.icon-spotify:before {
	content: "\e75e";
}
.icon-swarm:before {
	content: "\e75f";
}
.icon-vine-with-circle:before {
	content: "\e760";
}
.icon-vine:before {
	content: "\e761";
}
.icon-vk-alternitive:before {
	content: "\e762";
}
.icon-vk-with-circle:before {
	content: "\e763";
}
.icon-vk:before {
	content: "\e764";
}
.icon-xing-with-circle:before {
	content: "\e765";
}
.icon-xing:before {
	content: "\e766";
}
.icon-yelp:before {
	content: "\e767";
}
.icon-dribbble-with-circle:before {
	content: "\e768";
}
.icon-dribbble:before {
	content: "\e769";
}
.icon-facebook-with-circle:before {
	content: "\e76a";
}
.icon-facebook:before {
	content: "\e76b";
}
.icon-flickr-with-circle:before {
	content: "\e76c";
}
.icon-flickr:before {
	content: "\e76d";
}
.icon-github-with-circle:before {
	content: "\e76e";
}
.icon-github:before {
	content: "\e76f";
}
.icon-google-with-circle:before {
	content: "\e770";
}
.icon-google:before {
	content: "\e771";
}
.icon-instagram-with-circle:before {
	content: "\e772";
}
.icon-instagram:before {
	content: "\e773";
}
.icon-lastfm-with-circle:before {
	content: "\e774";
}
.icon-lastfm:before {
	content: "\e775";
}
.icon-linkedin-with-circle:before {
	content: "\e776";
}
.icon-linkedin:before {
	content: "\e777";
}
.icon-pinterest-with-circle:before {
	content: "\e778";
}
.icon-pinterest:before {
	content: "\e779";
}
.icon-rdio:before {
	content: "\e77a";
}
.icon-stumbleupon-with-circle:before {
	content: "\e77b";
}
.icon-stumbleupon:before {
	content: "\e77c";
}
.icon-tumblr-with-circle:before {
	content: "\e77d";
}
.icon-tumblr:before {
	content: "\e77e";
}
.icon-twitter-with-circle:before {
	content: "\e77f";
}
.icon-twitter:before {
	content: "\e780";
}
.icon-vimeo-with-circle:before {
	content: "\e781";
}
.icon-vimeo:before {
	content: "\e782";
}
.icon-youtube-with-circle:before {
	content: "\e783";
}
.icon-youtube:before {
	content: "\e784";
}
