.public-profile-page
	margin: 5em auto

.meu-perfil
    margin: 1.5em 0

    .profile-details
        .separator
            display: inline-block
            width: 5em

.config
    h2
        padding: .5em
        border-bottom: 1px solid grey-medium
        img
            padding: 0 .5em
    .agree
        display: block
    label,
    input
		margin: 1em

.preferences
	input[type=text],
	input[type=password],
	input[type=email],
	select,
	textarea
		width: 98%
		margin: 0 0 .5em

	h2
		font-size: 2em
		color: blue
		i
			margin: 0 1em 0 0
	.pure-radio
		margin-top: 1em
	.pure-button
		padding: .5em 2em
		margin: 0 1em 0 0
	.edit_profile
		margin: 4em auto
	.box-config
		margin: 0 auto 4em
		width: 80%
		input[type=radio]
			margin: 1em 1em 1em 0

	.pure-table
		color: blue
		border: 0
		th
			color: blue
			background-color: grey-light
		td,
		th
			border: 0
			border-bottom: 1px solid grey-medium
			padding: 1em
		.notification
			width: 30em
