.section-title
	background-color: yellow
	margin: 0
	padding: .5em 0 .3em 1em
	color: #fff
.subsection-title
	background: top right url(../img/subsection-title-bg.svg) no-repeat transparent
	color: #fff
	text-align: right
	padding: .2em .5em
 
.featured-box
	text-align: right
	padding: 1em 0
	background-color: transparentify(yellow, #fff, .9)
	color: #fff

	h1, h2, h3
		text-align: center
		color: #fff
		margin: 0
		padding: .3em 2em 

	h2,
	h3
		text-align: left

	h2
		padding: .3em .7em 
		margin-left: 1.5em
		font-size: 2em
		text-transform: lowercase

	h3
		padding: .3em .4em 
		margin-left: 1em
		font-size: 3em


.baloon-bottom
	display:block
	margin: 0 auto
	width: 85%
	height: 4em
	path
		fill: #fff

hr.full-line-separator
	border: 0
	border-bottom: 1px solid grey
	margin: 1em 0

.tooltip
	width: 10em
	position: relative
	top: .5em
	left: -3.2em
.tooltip p
	text-align: center
	cursor: pointer
	background: grey-medium
	color: #fff
	padding: .5em
	margin: 0
	position: absolute

.tooltip:after
	bottom: 100%
	left: 50%
	border: solid transparent
	content: " "
	height: 0
	width: 0
	position: absolute
	pointer-events: none
	border-color: rgba(0, 0, 0, 0)
	border-bottom-color: grey-medium
	border-width: .5em
	margin-left: -.5em

.block-title
	background-color: #bfcf02
	color: #fff
	text-transform: uppercase
	padding: .5em
	margin: 1em 0
	.block-title-name
		font-size:1.7em
		color:#E9EEEE
		margin:.1em 1em
		font-family:Fjalla

.full-button
	width:75%
	margin:0 0 1em
	padding:.5em
.button-item
	font-family:Source Sans Pro
	width:10.7em
	margin:0 0 1em
	padding: .6em 1em
	i
		float:left
		font-size:1.5em
		font-weight:bold
	span
		float:left
	.big
		font-size:.9em
	.small
		font-size:.67em

@media screen and (max-width:35.5em) 
	.baloon-bottom
		width: 93%
		max-height: 2em
		margin: .7em

	.divider
		margin: 1em .7em
	.featured-box
		h1
			padding: 0 .5em
			font-size: 1.6em
		h2
			padding: .5em 0
			margin: 0 0 0 .8em
		h3
			margin: 0 0 0 .4em
			padding: .5em 0
