azulescuro = #394556
azulclaro = #6FACB1
cinzaclaro = #E9EEEE
cinzaescuro = #A9B0A6
box_shadow_light = 0 0.1em 1em 0.1em #ccc
box_shadow_dark = 0 0 0.5em 0.1em #bbb
border_shadow = 1px solid #bbb

.discussions .balloon-challenge
	margin: 1.5em .5em
	padding: 1em
	h2
		padding: 1em 
	
.box-discussions
	margin-bottom: 2em

.discussion-filter-item
	text-align: center
fieldset.bd-box-post
	margin:1em 0
	legend
		padding:0 1em
.filter-toolbar
	margin: 2em 0
.filter-item
	margin: 0 1em 0 0
	font-size: 1.2em
	line-height: 1.5em
	color: cinzaescuro
	text-decoration: none
	font-weight: 100
	span
		font-family: Source Sans Pro
	i
		margin: 0 .5em
	&:hover span
		text-decoration: underline
	&.selected
		color: azulescuro
		font-weight: 900

.filter-categories
	margin: .2em 0 0 0
	text-align: right
	p
		color: grey-medium
		margin: 0 .5em 0 0
		display: inline-block
	.category-option
		.pure-button
			margin: 0
			border: 1px solid grey-heavy
			color: grey-heavy
			border-radius: 0
			&.selected
				background-color: grey-heavy

.btn-new-discussion
	margin: 2em auto 0
	color: #fff
	&:hover,
	.selected
		color: #fff
.pl-megabanner
	background-image: none
	background-color: #BFCF02
	font-family:Fjalla
	h1
		color azulescuro
		font-size:3em
		border-bottom: .08em solid azulescuro
		display: inline-block
		margin: 0 auto .5em auto
		a
			text-decoration: none
	span
		text-transform: uppercase
		color azulescuro
		font-size: 1.5em
	.featured-box
		margin: 0 auto
		padding:6em 0 4em
		background-color: #BFCF02

.compact.pl-megabanner
	h1
		font-size:1em
		border: 0
		text-transform: none
		padding-left:2em
	.featured-box
		padding:1em 0 0.5em
		text-align:left

	.line-number
		font-size:1em
		.active
			background-color azulescuro
	.featured-box
		max-width: none
		span
			display: none

.profile-info
	text-align:center
	padding:1em 0 0
	p
		margin: 0
		line-height: 1em
		font-weight: bold
	.profile-name
		text-transform: uppercase
		font-size: 1.2em
		color azulescuro
		font-family: Source Sans Pro
		margin:0
	.profile-date
		font-size:.9em
		color cinzaescuro

.post-background
	background-color: #fff

.line-number
	position: absolute
	left: inherit
	padding: 1em 0.7em 0.1em 0.2em
	background-color azulescuro
	text-align: center
	font-size: 2em
	font-family: Fjalla
	color:#fff
.filter-by-categories
	background-color azulescuro
	margin: 0
.social-options
	text-align: center
	a
		width: 3.5em
		display: block
		text-decoration: none
		margin: 0 0 .3em 0
		color: green
		.voted
		span
			display: block
			line-height: .8em
		i
			font-size: 1.7em
		&.secondary
			color: grey-medium
		&.action-share
			&:hover
				color: blue-fb
		&.action-flag:hover
			color: red	
		&.selected,
		&:hover
			color: blue
.box-new-comment
	margin:0 0 2em

	.form-new-comment
		.pure-button
			padding: .5em 
	.profile-info
		margin:-1em 0 0
		padding:0
@media screen and (max-width:35.5em) 
	.profile-info
		background cinzaclaro
		background: -moz-linear-gradient(top, cinzaclaro 60%, #fff 50%, #fff 100%)
		background: -webkit-gradient(linear, left top, left bottom, color-stop(60%,cinzaclaro), color-stop(50%,cinzaclaro), color-stop(100%,#fff))
		background: -webkit-linear-gradient(top, cinzaclaro 60%,#fff 50%,#fff 100%)
		background: -o-linear-gradient(top, cinzaclaro 60%,#fff 50%,#fff 100%)
		background: -ms-linear-gradient(top, cinzaclaro 60%,#fff 50%,#fff 100%)
		background: linear-gradient(to bottom, cinzaclaro 60%,#fff 50%,#fff 100%)
		.profile-name
			padding:.5em 0 0 1em
			overflow: hidden
			text-overflow: ellipsis
			text-align:left
		.profile-name-space
			white-space: nowrap
	.box-new-comment
		.profile-info
			background transparent
	.new-discussion
		.profile-info
			background: transparent
	.bd-box-post .filter-toolbar .filter-item
			margin: 0 .5em 0 0
	.social-options
		padding:3.5em 0 0
		a
			padding:.3em 0
	.filter-categories
		.category-option
			padding:1em
	.social-options
		a
			width: 2.5em
	.pl-megabanner
		h1
			font-size:2em
			padding-bottom:1em
	.discussions
		.profile-name
			padding-top:1em