
.login-signup-box
    margin: 1em 4em
.login-box,
.signup-box
	padding: 1em 4em
	input
		width: 100%	
	.login-facebook
        width: 100%
        padding: .4em 0
        margin: 0 0 1em
        text-align: center
        background-color: blue-fb
        color: #fff
        text-decoration: none
        span,
        i
            display: inline-block
            float: none
            margin: 0 .2em 0 0
            font-size: 1.5em
        span
            padding-top: .3em
            vertical-align: top
            font-size: 1em

    .pure-button
        margin-top: 1em
        text-transform: uppercase
        width: 100%

@media screen and (max-width:35.5em) 
    .login-signup-box
        margin: .5em 0

    .login-box,
    .signup-box
        padding: .5em 0


