@import "font"
@import "icons"

red = rgba(255, 62, 48, 1)
blue = #394556
blue-fb = #43609C
green = #6facb1
pink = #d47e90
orange = #d79c56
purple = #715d91
yellow = rgba( 191, 207, 2, 1) 

grey-light = #e9eeee
grey-medium = #a9b0a6
grey-heavy = #959993

purple-light = rgba( 113, 93, 145, .4)
pink-light = rgba( 212, 126, 144, .4)
yellow-light = rgba( 191, 207, 2, .4)
green-light = rgba( 111, 172, 177, .4)
orange-light = rgba( 215, 156, 92, .4)

.pure-form input[type="text"], 
.pure-form input[type="password"], 
.pure-form input[type="email"], 
.pure-form input[type="url"], 
.pure-form input[type="date"], 
.pure-form input[type="month"], 
.pure-form input[type="time"], 
.pure-form input[type="datetime"], 
.pure-form input[type="datetime-local"], 
.pure-form input[type="week"], 
.pure-form input[type="number"], 
.pure-form input[type="search"], 
.pure-form input[type="tel"], 
.pure-form input[type="color"], 
.pure-form select, 
.pure-form textarea
//    width: 100%
    border-radius: 0
    box-shadow: none

label
    color: grey-heavy
    text-transform: uppercase
//body,
//button,
//input,
//select,
//textarea,

.pure-g [class*="pure-u"]
    font-family: 'Source Sans Pro', sans-serif
    color: blue    
    box-sizing: border-box

h1,
h2,
h3 
    font-family: fjalla, sans-serif
    font-weight: normal
    text-transform: uppercase

a
    color: blue
    text-decoration: none

    &:hover
        text-decoration: underline

body 
    font-size: .85em
    background-color: grey-light

ul
    margin: 0
    padding: 0
    li
        list-style: none

.container
    max-width: 960px
    margin: 0 auto

#main
    padding-top: 8.2em
    overflow-x: hidden

.pure-button
	text-transform: uppercase
	color: #fff
	background-color: green
	&.cancelar
		background-color: grey-medium

	&.big
		padding: 1em
		margin: 1em 1em 1em 0
		text-decoration: none
		text-transform: uppercase

	i
		font-size: 1.2em
		margin: 0 .5em 0 0
	span
		line-height: 1.3em
		vertical-align: top
	&.selected,
	&:hover
		background: blue
		text-decoration: none

.pure-button.full
    width: 100%
    text-align: center
    padding: .5em 0
    margin: 1.5em 0
    font-size: 1.3em
    white-space: normal

.button-xsmall
    font-size: 70%
.button-small
    font-size: 85%
.button-large
    font-size: 110%
.button-xlarge
    font-size: 125%

.pure-button.fb
    background-color: blue-fb;

.alert-success,
.alert-error,
.alert-warning,
.alert-secondary
    color: white
    // border-radius: 4px
    padding: 1em
    text-align: left
    margin: 0 0 .5em

.alert-success 
    background-color: rgba(28, 184, 65, .6)
    /* this is a green */
.alert-error
    background-color: rgba(202, 60, 60, .6)
    /* this is a maroon */
.alert-warning
    background-color: rgba(223, 117, 20, .6)
    /* this is an orange */
.alert-secondary
    background-color: rgba(66, 184, 221, .6)
    /* this is a light blue */

.center-content
    text-align:center
.left-content
    text-align:left
.right-content
    float:right
.right-text
    text-align:right
.justify-content
    text-align:justify
.icon-xlarger
    font-size:1.5em
.icone-texto-xxlarge
    font-size:2em
    font-family:Fjalla

.baloon-bg
    background: bottom left url(../img/baloon-bottom.svg) no-repeat transparent
    background-size: 101%
    width: 100%
    height: 1.4em

    &.yellow
        background-image: url(../img/baloon-bottom-yellow.svg)

.separator
    background: top right url(../img/separator.svg) no-repeat transparent
    height: 10em

@import "header/*"
@import "footer"
@import "home/*"
@import "page"
@import "vote"
@import "results"
@import "tags"
@import "signup"
@import "login"
@import "account"
@import "common"
@import "mobile"
@import "discussions"
@import "profile/*"
@import "handyman"
@import "comments"
@import "loading"
@import "hintcss"
@import "reports/*"

#beta
    text-align: center
    color: blue
    margin: 10em 0

