.sector
	color: #fff
	margin: 0 1em 1em

	.button
		text-align: center
		span,
		img
			display: inline-block
		img
			margin: .5em
			max-height: 1.5em
		span
			text-transform :uppercase
			color: #fff
			vertical-align: top
			margin: 1em 0 0 3em 
			line-height: 1em
.signup
	margin: 2em 0
	input,
	select,
	textarea
		margin: 0 0 .5em
		width: 100%
	input[type=checkbox]
		width: auto
		margin: .5em .5em .5em 0
.signup
	.popup-box
		position: absolute
		background-color: grey-light
		text-align: center
		min-width: 59em
		.illustration
			width: 50% 
		.tag-box
			width: 33%
			margin: 0 auto 1.2em
			text-transform: uppercase
			color: #fff
			.text,
			img
				display: inline-block
		.pure-button
			margin: 0 1em
.sector.gov.active,
.gov .button,
.gov .tag-box,
.gov .tag-box .text
	background-color: purple
.sector.edu.active,
.edu .button, 
.edu .tag-box,
.edu .tag-box .text
	background-color: pink
.sector.br.active,
.br .button, 
.br .tag-box,
.br .tag-box .text
	background-color: yellow
.sector.ong.active,
.ong .button,
.ong .tag-box,
.ong .tag-box .text
	background-color: green
.com.sector.active,
.com .button, 
.com .tag-box,
.com .tag-box .text
	background-color: orange

@media screen and (max-width:35.5em) 
	.sector
		margin: 0 0 1em
		display: block
		
		&.gov 
			background-color: purple
		&.edu 
			background-color: pink
		&.br 
			background-color: yellow
		&.ong 
			background-color: green
		&.com 
			background-color: orange

		.button
			text-align: left
			span
				margin: .9em

			img
				margin: .5em 1em 0 2em
				width: 1.5em
				height: 1.5em
	.signup
		.profile-tag
			margin: 1.5em auto
		.popup-box
			min-width: 18em
			min-height: 18em
			.illustration
				width: 30%
			.tag-box .text
				width: 33%
				margin: 0 auto
				text-transform: uppercase
				color: #fff
