profile_tag(size = 3.7em)
		overflow: hidden
		display: inline-block
		border-radius: 10em
		position: relative
		border: .25em solid #fff
		line-height: 1em

		span
			position: absolute
			width: 100%
			text-align: center
			bottom: 0
			text-transform: uppercase
			padding: .1em 0 .4em
			display:block
			color: #fff

		{block}

.profile-tag
	profile_tag()
	&.gov 
		border-color: purple
		span
			background-color: purple
	&.edu 
		border-color: pink
		span
			background-color: pink
	&.br 
		border-color: yellow
		span
			background-color: yellow
	&.ong 
		border-color: green
		span
			background-color: green
	&.com 
		border-color: orange
		span
			background-color: orange
