#header
    position: fixed
    width: 100%
    z-index: 3
    background-color: grey-light
    box-shadow: 0 0 .5em #333

    .menu
        margin: .5em auto 0

    .login-menu
        text-align: right
    .login-menu,
    .main-menu
        margin: 1em 0 0

    .action-menu-mobile a
        color: grey-heavy
        line-height: 2em
        display: block
        margin: 1.1em 0
        text-decoration: none
        vertical-align: top
        text-transform: uppercase
        i
            vertical-align: top
            font-size: 2em
    .logo
        margin: .7em 0 1em
        text-align: center

.login-menu,
.main-menu,
.loggedin
    li
        display: inline-block
        width: 10.6em

.loggedin
    text-align: right
    li
        vertical-align: top
        width: auto
        .profile-tag
            float: right
        .profile-notifications
            float: right
            color: red
            position: relative
            width: 24px
            height: 24px
            .icon-notificacao, .count
                display: block
                position: absolute
                width: 20px
                height: 20px
            .icon-notificacao
                font-size: 1.5em
            .count
                text-align: center
                color: #fff
                font-size: .8em

		a.username
			text-decoration: none
			display: block
			margin: .95em 0 1em 1em
			font-family: Fjalla
			font-size: 1.5em

@media screen and (max-width:35.5em) 

    .loggedin
        text-align: left
