.menu-item
    text-decoration: none
    line-height: 1em
    display: inline-block
    color: grey-heavy
    margin: 0 0 1.35em

    &:hover
        color: blue

    i,
    span
        float: left
    i
        font-size: 2em
        margin: .05em .2em
    span
        text-transform: uppercase
        font-family:Source Sans Pro
        
        &.small
            font-size: .8em    
        &.big
            font-size: 1.2em
            min-width: 6em
box_shadow_light = 0 0.1em 1em 0.1em #ccc
box_shadow_dark = 0 0 0.5em 0.1em #bbb
border_shadow = 1px solid #bbb
.hide
	display:none
//correcoes no menu
.pure-menu-children
	left:inherit
	top:inherit
	width:22em
	background-color:#E7ECEC

	.pure-menu-item
		width:auto
		display:block
		border-top: 1px solid #A9B0A6
		.pure-menu-link
			white-space: inherit
			padding:1em 0
			span
				display: inline-block
			.mark
				width: 20%;
				text-align:center
				font-size:2em
				font-family:Fjalla
				color: blue
			.mark-small
				width: 80%
				color:#B4BBB2
			&:hover
				background-color:#394556
				text-decoration:inherit
				span,
				i
					color:#E9EEEE

#header .loggedin
	margin:0
	.pure-menu-children
		right: -2.4em
		width: 17em
		.pure-menu-item
			padding: 0
			.pure-menu-link
				color: blue
				text-align: left
				&:hover
					background-color: inherit
					span
						text-decoration: underline
				.mark-small
					color: blue
					width: auto
					vertical-align: top
					line-height: 1.7em
				i
					color: blue
					font-size: 1.5em
					margin: 0 1.5em
.submenu-mobile
	margin:0 6em
@media screen and (max-width:35.5em)
	.menu-item
		span
	        &.small
	            font-size: 1em
	        &.big
	            font-size: 1.5em
	            min-width: 10em
