cinzaescuro = #A9B0A6
azulescuro = #394556
.box-challenge
	padding: 1em 0
	margin: 0 0 0 2em 
	box-shadow box_shadow_dark
	p
		margin: 0
	.featured
		text-align: center
	img
		margin: 0 .5em
		height: 43px
	h3,
	.cta
		margin: 0
		text-transform: uppercase
	.cta
		color: green
	&:hover
		h3,
		.cta
			text-decoration: underline
.challenges
	margin-top: 2em
	.feature-image 
		img
			position:relative
			z-index:2
	h3.title
		color: blue
		font-size: 1.5em
		margin: 1em
.balloon-challenge
	margin:5em 0 0 -3em
	.baloon-bottom
		width:100%
		margin:0
		path
			fill:#bfcf02
	.balloon-desc
		text-transform:uppercase
		margin:0
		padding:1em .5em .5em
		color:#fff
		background-color:#bfcf02
.btc-description
	color:#6FACB1
.btcd-text
	text-decoration:underline
.showhow
	display:block
	position:relative
	margin-bottom: 4em
	text-align: center
	@media screen and (max-width:35.5em) 
		.feature-image
			float:none
		.pure-img
			margin:0 auto
		.balloon-challenge
			width:100%
			position:relative
			margin:-1em 0 0 0
			top:auto
			float:none

.featured-discussion
	margin: 4em auto 2em
	width: 85%
	padding: 1em 
	box-shadow: box_shadow_dark
	.bullet
		.position
			height: 6em
			width: 4em
			margin: 0 2em 0 0
			float: right
		.icon-discussao
			color: red
			font-size: 3em
			float: right

.box-comments
	max-height:30em
	overflow-x:hidden
	@media (max-width:35.5em)
		overflow:hidden
.comment-list
	.comment-item
		margin-bottom:2em
		text-align: center
	.comment-data
		font-size: 1.2em
		text-align: left
		.comment-profile-name
			color cinzaescuro
			margin-right:.5em
		.comment-text
			font-weight: bold
			color azulescuro
		.comment-date
			color cinzaescuro
			margin-left:.5em


@media (max-width:35.5em)
	.box-challenge
		margin: 0 auto 1em
		img
			margin: 0
			width: 4em
