.step
    padding: 4em 0
    border-bottom: .1em solid grey-heavy

    &.three
        border-bottom: 0

    .feature-image
        img
            margin: 0 auto

    h2
        margin: .5em 0 0 0
        font-size: 3em
    h3
        margin: .5em 0
        font-size: 2.2em
    
    .position
        h2.number
            margin-top: 0
            font-size: 3.5em
            color: red

    .description
        margin: 2em 0
        font-size: 1.3em

    .pure-button
        margin: 0 30%
        text-align: center
        display: block
        text-transform: uppercase


@media screen and (max-width:35.5em) 
    .step
        padding: 1.5em 0
        .feature-image
            img
                width: 50%
        h2
            margin: .7em 0 0
            font-size: 2.3em
        h3 
            font-size: 1.5em
        .position
            height: 9em
            h2.number
                font-size: 3em
        .description
            margin: 1em 0
            font-size: 1em
